.mbody {
    font-family: sans-serif;
    margin: 0;
}

.d_container {
    width: 60%;
    height: 700px;
    margin: 0 auto;
}

.detail_area {
    width: 100%;
    height: 45%;
    margin-top: 10px;
}

.country_name {
    padding: 0;
    margin: 0;
    margin-left: 10px;
    font-size: 34px;

}

.d_flag_img {
    width: 45%;
    height: 70%;
    margin-left: 10px;
    margin-top: 10px;
    float: left;
}
.country_f_img {
    min-width: 100%;
    max-width: 100%;
    min-height: 100%;
    max-height: 100%;
    object-fit: fill;
    border: 1px solid rgb(198, 198, 198);
}

.country_details {
    width: 50%;
    height: fit-content;
    margin-top: 10px;
    float: right;
}

.country_details >* {
    margin: 0;
    margin-bottom: 6px;
    font-weight: bold;
}

.neighbours {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    border: 2px solid rgb(172, 172, 172);
}

.neighbours > h2{
    margin: 15px 0 20px 10px;
    font-size: 22px;
}

.neighbour_flags {
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nb_flags {
    width: 250px;
    height: 150px;
    margin: 20px;
    object-fit: fill;
    border: 1px solid rgb(198, 198, 198);
}