.mbody {
    font-family: sans-serif;
    margin: 0;
}

.mHeader{
    width: 35%;
    padding-top: 20px;
    padding-bottom: 5px;
    margin: 0 auto;
}

.mHeader p {
    margin: 0;
    margin-left: 5px;
    font-size: 34px;
    font-weight: bold;
    text-align:justify;
}

.mContainer {
    width: 35%;
    margin: 0 auto;
    height: fit-content;
}

.search_box{
    height: 45px;
}

.inpBox{
    width: 87%;
    height: 36px;
    font-size: 18px;
    font-weight: 200;
    border-radius: 2px;
    border: 2px solid rgb(211, 211, 211);
    color: rgb(72, 72, 72);
    padding: 0;
}


.fetchBtn{
    width: 10%;
    height: 36px;
    border-radius: 2px;
    border: 2px solid rgb(211, 211, 211);
    padding: 0;
    font-size: 18px;
    float: right;
}

.s_icon {
    margin-top: 4px;
}

.fetchBtn:hover{
    background-color: #ddd;
}

.cards_container {
    width: 100%;
    height: fit-content;
}