.mCard{
    height: 140px;
    margin-top: 7px;
    border: 2px solid rgb(211, 211, 211);
}
.mCard:hover {
    box-shadow: 2px 2px rgba(107, 107, 107, 0.5);
}

.flag {
    width: 35%;
    margin-left: 3.0%;
    height: 120px;
    margin-top: 10px;
    float: left;
}

.flag_img {
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    max-height: 120px;
    object-fit: fill;
    border: 1px solid rgb(199, 199, 199);
}

.info_area{
    width: 55%;
    margin-right: 3.0%;
    height: 120px;
    margin-top: 10px;
    float: right;
}

.info{
    width: 100%;
    height: 70px;
}

.name, .currency, .capital{
    margin: 0;
}

.name{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 5px;
}

.currency, .capital{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 5px;
}

.ref_area {
    width: 100%;
    margin-top: 5px;
    height: 45px;
}

.map_btn_span, .detail_btn_span {
    display: inline-block;
    width: 45%;
    height: 35px;
    margin-top: 5px;
    border-radius: 3px;
    border: 2px solid rgb(38, 38, 249);
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    color: rgb(69, 69, 251);
}

.detail_btn_span:hover, .map_btn_span:hover {
    box-shadow: 2px 2px rgba(79, 79, 250, 0.4);
}

.detail_btn_span {
    float: right;
}